body{
    background-color: white;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: green;
    text-align: center;
}
h2{
    color: blue;
}
h6{
    color: yellow;
    text-align: center;
}
li{
    color: purple;
}
a{
    text-decoration: none;
    color: red;
}
.bold{
    font-weight: bold;
}
.table{
    margin: 0 auto;
    width: 90%;
    background: white;
    color: black;
    border-radius: 12px;
    padding: 12px;
}

button{
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
}
